.App{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Title{
    color: white;
    font-weight: normal;
    margin: 16px 0;
    text-align: center;
}