.PageButton {
    margin: 8px;
    padding: 8px;
    cursor: pointer;
    color: white;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #ccc;
    transition: all 0.3s ease;
}

.PageButton:hover, .PageButton.Active{
    background-color: white;
    color: black;
}